<% include Partials/header.ejs%>
<% include Partials/main_nav.ejs%>
    <!-- Main Content -->
    <h1>Assignments</h1>
    <button class="btn btn-primary" onclick="window.location.href='/assinmentslist'">Assignments here </button>
<% include Partials/footer.ejs%>